<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A Simple Flask API</h1>
    <h2>Audio files</h2>
    <ul>
        <li>
            <a href="/api/songs"> Songs </a>
        </li>
        <li>
            <a href="/api/podcasts"> Podcasts </a>
        </li>
        <li>
            <a href="/api/audiobooks"> Audiobooks </a>
        </li>
    </ul>
</body>
</html>